// variables
$avatar-blue: rgb(84,197,224);
$baby-blue: #afdcf8;
$royal-blue: #3594cb;

body {
	// font-size: 62.5%;
}

#wrapper {
	margin: -10px;
}

.main {
	margin-top: 10px;
	background-color: $avatar-blue;
	height: 35em;
}


.avatar {
	background: url(../images/bschachter-avatar.png) no-repeat;
	width: 220px;
	height: 250px;
	display: block;
	background-size: 100%;
}

.hero h3 {
	margin: 100px;
	padding: 50px;
	
}

.hero .avatar {
	margin: 85px 180px 0 0;
	padding: 50px;
}





// bootstrap hack for now

.navbar {
	margin-bottom: 0px;
}


// About me timeline

.timeline {
	margin: 30px 0 0 0;
	padding: 0;
	list-style: none;
	position: relative;
}

// The line of the timely line time.
.timeline:before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		width: 10px;
		background: $baby-blue;
		left: 20%;
		margin-left: -15px;
	}


.timeline > li {
	position: relative;
}


// Date and time
.timeline > li .time {
	display: block;
	width: 25%;
	padding-right: 100px;
	position: absolute;
}

.timeline > li .time span {
	display: block;
	text-align: right;
}

.timeline > li .time span:first-child {
	font-size: 0.9em;
	color: #bdd0db;
}

.timeline > li .time span:last-child {
	font-size: 2.5em;
	color: #3594cb;
}

// odd time line events

.timeline > li:nth-child(odd) .time span:last-child {
	color: #6cbfee;
}

// right content
.timeline > li .timelabel {
	margin: 0 0 15px 25%;
	background: #3594cb;
	color: #fff;
	padding: 2em;
	font-size: 1.2em;
	line-height: 1.4;
	position: relative;
	border-radius: 5px;
}

.timeline > li:nth-child(odd) .timelabel {
	background: #6cbfee;
}

.timeline > li .timelabel h2 {
	margin-top: 0;
	padding: 0 0 10px 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

// triangle

// .timeline > li .timelabel:after {
// 	right: 100%;
// 	border: solid transparent;
// 	content: " ";
// 	height: 0;
// 	width: 0;
// 	position: absolute;
// 	pointer-events: none;
// 	border-right-color: #3594cb;
// 	border-width: 10px;
// 	top: 10px;
// }


.timeline > li .timeicon {
	width: 40px;
	height: 40px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 1.4em;
	line-height: 40px;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	color: #fff;
	background: #46a4da;
	border-radius: 30%;
	box-shadow: 0 0 0 8px #afdcf8;
	text-align: center;
	left: 20%;
	top: 0;
	margin: 0 0 0 -25px;

}

.timeicon-phone:before {
	content: "\e000";
}

.timeicon-screen:before {
	content: "\e001";
}

.timeicon-mail:before {
	content: "\e002";
}

.timeicon-earth:before {
	content: "\e003";
}


// end time line

// start footer
footer {
	background-color: #f0f0f0;
	height: 20px;
	width: 100%;
	padding: 0;
}


@media screen and (max-width: 350px) {
	.main {
		height: 36em;
	}

	.content {
		position:relative;
	}

	.timeline > li .time span:last-child {
		font-size: 1.5em;
	}
}


@media screen and (max-width: 990px) {
	.main {
		height: 34em;
	}

	.hero h3 {
		margin: 0 auto;
	}

	.hero .avatar {
		margin: -15px auto 0;
	}

	.timeline:before {
		display: none;
	}

	.timeline > li .time {
		width: 100%;
		position: relative;
		padding: 0 0 20px 0;
	}

	.timeline > li .time span {
		text-align: left;
	}

	.timeline > li .timelabel {
		margin: 0 0 30px 0;
		padding: 1em;
		font-weight: 400;
		font-size: 95%;
	}

	.timeline > li .timelabel:after {
		right: auto;
		left: 20px;
		border-right-color: transparent;
		border-bottom-color: #3594cb;
	}

	.timeline > li:nth-child(odd) .timelabel:after {
		border-right-color: transparent;
		border-bottom-color: #6cbfee;
	}


	.timeline > li .timeicon {
		position: relative;
		float: right;
		left: auto;
		margin: -55px 5px 0 0;
	}
}




